{% extends 'base.html' %}

{% block title %} About{% endblock title %}

{% block aboutactive %} active {% endblock %}
{% block body %}
<h1 id="about">About Khabar Kahani</h1>
<p class="about">Khabar Kahani is an online news platform that delivers unbiased and factual news to its audience. The platform is committed to providing comprehensive coverage of local, national, and international news stories, keeping its readers well-informed and up-to-date.</p>

<p class="about">  At Khabar Kahani, the team of experienced journalists and editors work tirelessly to report on the latest happenings in various fields, including politics, sports, entertainment, technology, and more. They strive to maintain the highest journalistic standards and adhere to a strict code of ethics, ensuring that all news stories are accurate, objective, and fair. </p>
    
<p class="about">   Khabar Kahani also provides a platform for aspiring writers and journalists to showcase their skills and publish their work. The platform encourages diversity and welcomes submissions from all walks of life, giving a voice to the unheard and marginalized.</p>
    
<p class="about">With its commitment to responsible journalism and its dedication to serving its readers, Khabar Kahani has become a trusted source of news for people across the globe. Whether you are looking for breaking news or in-depth analysis, Khabar Kahani has got you covered.
</p>
{% endblock %}