{% extends 'base.html' %}

{% block title %} Home{% endblock title %}
{% block homeactive %} active {% endblock %}
{% block body %}



<div class="container">
    <div class="jumbotron my-5">
      <h1 class="display-4">Welcome to Khabar Kahani!</h1>
      <p class="lead">Believing in the power of journalism to inform, inspire change, and foster a better understanding of the world around us</p>
      <hr class="my-4">
      <p>To view the latest news, click the button below.</p>
      <a class="btn btn-primary btn-lg" href="/news" role="button">Go to News</a>
      </div>
    </div>

    
 {% endblock %}